| #{note.event.data.b}
br
br
span(style="font-size:80%;color:#808080;") _
br
span(style="font-size:80%;color:#808080;") Reply to this email directly or&nbsp;
a(href=link, style="font-size:80%;") view it on Island
span(style="font-size:80%;color:#808080;") .&nbsp;Manage your&nbsp;
a(href=sets_link, style="font-size:80%;") notification settings
span(style="font-size:80%;color:#808080;")
  | .