- var parentStyle = showMember ? '' : 'left:0; padding-left:10px;'
div.comment.matte(id='com-' + comment._id.toString())
  div.comment-title
    - if (showMember) {
      - if (comment.member.key)
        a.comment-title-name(href='/member/' + comment.member.key)
          =comment.member.displayName
      - else
        span.comment-title-name-inactive
          =comment.member.displayName
    - }
    - if (comment.post) {
      - if (showMember)
        a.comment-title-parent(href='/' + comment.post.key, style=parentStyle)
          =comment.post.title
      - else
        a.comment-title-parent-solo(href='/' + comment.post.key, style=parentStyle)
          =comment.post.title
    - }
  div.comment-body
    p.comment-txt
      !{util.formatCommentText(comment.body)}
    h3.comment-added
      =comment.created
    - if (typeof(member) === 'undefined' || member._id.toString() === comment.member._id.toString())
        a.delete-comment(id='delcom-' + comment._id.toString()) DELETE
